# Database string. Use local SQLite for dev, or PostgreSQL for Vercel
SQLALCHEMY_DATABASE_URI="https://znkyrvifzbjoeqibpcjn.supabase.co"
# Example PostgreSQL String:
# SQLALCHEMY_DATABASE_URI="postgresql://myuser:mypassword@db.host.com:5432/dbname"

# Authentication secret (Generate a secure one)
SECRET_KEY="YOUR_SUPER_SECRET_KEY_HERE_CHANGE_ME"

# Cloudinary Details for remote image uploads
CLOUDINARY_CLOUD_NAME="dnperphbi"
CLOUDINARY_API_KEY="473961587475419"
CLOUDINARY_API_SECRET="5qV6NRfrNks-ItWLMtiFA0mATfo"
DB_PASSWORD = "bayodele124"